body {
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 34px;
  line-height: 48px;
  font-weight: 900;
  margin: 0;
}
h2 {
  text-align: left;
  font-size: 34px;
  margin: 0;
}
button {
  display: block;
  margin: 0 auto;
  background: purple;
  color: #fff;
  padding: 10px 10px;
}

p {
  text-align: left;
  font-size: 40px;
  margin: auto;
}

ul {
  text-align: right;
  font-size: 20px;
  margin: auto;
  line-height: 80px;
}
